.backdrop {
    z-index: 11;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7) ;
}

.modal {
    position: relative;
    z-index: 12;
    max-width: 800px;
    border: 2px solid #888888;
    background-color: #0C1C27;
    margin: auto;
    margin-top: 50px;
    color: whitesmoke;
    padding: 48px;
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}

.greenText {
    color: #00ED64
}

.mainHeading {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 32px;
}

.closeIcon {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    transition-duration: 150ms;
}

.closeIcon:hover {
    cursor: pointer;
  }

.countdown {
    color: #00ED64;
    font-size: 2rem;
    text-align: center;
}

.alignCenter {
    text-align: center;
}